@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.home {
    background-image: url('../../img/bergen.jpg');
    max-width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-column;

    h1 {
        text-align: center;
        color: $white;
        font-size: 3rem;
        font-family: $heading-font;
        text-shadow: 0 1px #171818, -1px 0 #424242, -1px 2px #242627, -2px 1px #363a3d, -2px 3px #1b2022;
    }
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    padding: 24px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
}

.resultContainer {
    background: transparent;
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
}

.link {
    background-color: $white;
    margin: 0 auto;
    color: $grey12;
    width: 100%;
    display: block;
    padding: 8px;
    font-family: $text-font;
    position: relative;

    h2 {
        font-size: 1rem;
    }

    &:hover {
        color: $grey12;
    }

    &:focus {
        z-index: 1;
        background-color: $light-grey;
    }
}

@media (max-width: 321px) {
    .homeContent {
        top: 35%;
    }
}

@media (max-width: 992px) {
    .resultContainer {
        width: 90%;
    }
}
