@import '../../sass/partials/variables';

.home {
    background-image: url('../../img/bergen.jpg');
    max-width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        color: white;
        font-size: 3rem;
        font-family: $heading-font;
        text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93;
    }
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 25%;
    padding: 24px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    box-shadow: 5px 5px 5px rgba(17, 16, 16, 0.6);
}

.link {
    background-color: white;
    margin: 0 auto;
    color: $grey12;
    width: 90%;
    padding: 8px;
    font-family: $text-font;

    h2 {
        font-size: 1rem;
    }
}

.link:hover {
    color: $grey12;
}

@media (max-width: 992px) {
    .search {
        width: 90%;
    }

    .link {
        width: 90%;
    }

    .homeContent {
        margin-bottom: 35%;
    }
}
