@import '../../sass/partials/variables';

.hotels {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 32px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.errorMessage {
    padding: 16px;
    line-height: 2.5;
}

.reload {
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-family: $text-font;
    background-color: $blue;
    border: $blue;
    margin-left: 8px;
    color: #ffffff;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
    border-radius: 6px;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.noMatch {
    margin: 40px auto;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
}

@media (max-width: 992px) {
    .hotels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
