@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.enquire {
    margin: 56px 0;
    padding: 0;
    @include flex-column;
}

.form {
    margin-top: 24px;
    width: 60%;
}

.input {
    margin: 16px 0;
}

.label {
    font-family: $text-font;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;
}

.btn {
    padding: 8px 16px;
    @include blue-btn;
}

@media (max-width: 992px) {
    .form {
        width: 90%;
    }
}
