@import '../../sass/partials/variables';

.footer {
    background-color: $light-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 16px;
}

.admin {
    background-color: $white;
}

.col1,
.col2 {
    p {
        margin: auto 0;
    }
}

.footerLink {
    color: $black;

    &:hover {
        color: $black;
    }
}

.icon {
    fill: #474747;
    margin: 0 8px;
    height: 24px;
    width: 24px;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .col1,
        .col2,
        .col3 {
            margin: 8px auto;
        }
    }
}
