@import '../../sass/partials/variables';

.nav {
    background-color: $light-grey;
}

.admin {
    background-color: $white;
    .navbarBrand {
        color: $black;
    }
}

.navbarNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logoLink {
    transition: transform 0.5s;

    &:hover {
        text-decoration: none;
        transform: scale(1.05);
    }
}

.navbarBrand {
    color: $blue;
    font-size: 2rem;
    font-family: $logo-font;
    margin-right: 8px;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $heading-font;
}

.navLink {
    font-family: $heading-font;
    color: $grey12;
    margin: 0 8px;
    transition: transform 0.5s;

    &:hover {
        text-decoration: none;
        color: $grey12;
        transform: scale(1.05);
    }
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $grey12;
    transition: transform 0.5s;

    &:hover {
        text-decoration: none;
        color: $grey12;
        transform: scale(1.05);
    }
}

.icon {
    width: 16px;
    height: 16px;
    fill: $grey12;
    margin-left: 8px;
}

.active {
    color: $black;
    text-decoration: underline;
}

@media (max-width: 992px) {
    .navbarNav {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbarContent {
        flex-direction: column;
        align-items: flex-end;
    }

    .dropdown {
        margin-top: 8px;
        border-top: 1px solid $dark-grey;
    }

    .navLink {
        font-family: $heading-font;
        color: $grey12;
        margin: 8px 8px;
    }
}
