@import '../../sass/partials/variables';

.logoutBtn {
    background-color: $clay;
    border: none;
    transition: transform 0.5s;
    font-family: $text-font;
    font-size: 1.1rem;

    &:hover {
        background-color: $clay;
        transform: scale(1.05);
    }

    &:active {
        background-color: $clay !important;
    }
}

@media (max-width: 992px) {
    .logoutBtn {
        padding: 8px;
    }
}
