@import '../../sass/partials/variables';

.logoutBtn {
    background-color: $clay;
    border: none;
    transition: transform 0.5s;
}

.logoutBtn:hover {
    background-color: $clay;
    transform: scale(1.05);
}

.logoutBtn:active {
    background-color: $clay !important;
}

@media (max-width: 992px) {
    .logoutBtn {
        padding: 8px;
    }
}
