.login{
    width: 60%;
    margin: 40px auto;
}

.login__form{
    margin: 48px auto;
}

.login__form--button{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

@media (max-width: 992px){
    .login{
        width: 90%;
    }
}