.adminHotels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adminHotels__button {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 24px 8px;
    padding: 0;
    color: black;
    border: 1px solid lightslategray;
}

.adminHotels__img {
    width: 100%;
    height: 250px;
    margin: 0;
}
