@import 'variables';

.hero {
    background-image: url(https://images.unsplash.com/photo-1580990695461-471b8e43e767?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D);
    max-width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        color: white;
        font-size: 3rem;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
}

.hero__btn--grey {
    background-color: $light-grey;
    margin: 0 auto;
    color: black;
    border: none;
    font-size: 1.5rem;
}

.button__link {
    color: black;
    margin: 0 auto;
}
