.hotels{
    margin-top: 40px;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 40%;
    flex: 0 1 auto;
    margin-left: 0;
    margin: 24px;
}

.card-img-top{
    height: 300px;
}

.card__btn--blue{
    margin-top: 16px;
}