@import '../partials/variables';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    box-sizing: border-box;

    p {
        font-family: $text-font;
        font-size: 1.1rem;
    }
}

.container-fluid {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.adminContainer {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.modal {
    top: 30%;
    font-family: $text-font;
}

@media (max-width: 992px) {
    .modal {
        margin: 0 auto;
        padding-right: 0;
    }
}
