@import './variables';

@mixin display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    @include display-flex();
    flex-direction: row;
}

@mixin flex-column {
    @include display-flex();
    flex-direction: column;
}

@mixin delete-btn {
    border: none;
    font-family: $text-font;
    font-size: 1.1rem;
    box-shadow: $box-shadow-btn;

    &:hover {
        background-color: #a81f2c;
    }
}
