@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$text-font: 'Montserrat', sans-serif;
$heading-font: 'FiraSans', sans-serif;
$logo-font: 'FredokaOne', sans-serif;
