@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$text-font: 'Raleway', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$logo-font: 'Fredoka One', cursive;

$blue: #447c97;
$clay: #a36548;
$light-grey: #ededed;
$dark-grey: #c6c6c6;
$grey12: #1f1f1f;
$black: #000000;
$white: #ffffff;
$box-shadow-btn: 5px 5px 5px rgba(68, 68, 68, 0.2);
