@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.errorMessage {
    padding: 16px;
    line-height: 2.5;
}

.home {
    padding: 16px;
    line-height: 2.5;
    color: $white;
    text-shadow: 0 1px #171818, -1px 0 #424242, -1px 2px #242627, -2px 1px #363a3d, -2px 3px #1b2022;
    text-align: center;
}

.reload {
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    margin-left: 8px;
    border-radius: 0.25rem;
    border-radius: 6px;
    @include blue-btn;
}

.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-family: $text-font;
    background-color: $blue;
    border: $blue;
    margin-left: 8px;
    color: $white;
    box-shadow: $box-shadow-btn;
    border-radius: 6px;
    transition: none;

    &:hover {
        background-color: #37647a;
        transform: none;
    }
}
