@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.container {
    width: 100%;
    margin: 80px auto;
    @include flex-column;

    p {
        font-size: 1.5rem;
        color: $grey12;
    }

    .icon {
        width: 400px;
        height: 400px;
        margin: 48px 0;
        fill: $grey12;
    }
}

@media (max-width: 992px) {
    .container {
        p {
            text-align: center;
            padding: 8px;
        }

        .icon {
            height: 200px;
            width: 200px;
        }
    }
}
