@import '../../sass/partials/variables';

.delete {
    border: none;
    font-family: $text-font;
    font-size: 1.1rem;
    box-shadow: $box-shadow-btn;

    &:hover {
        background-color: #a81f2c;
    }
}
