@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.card {
    width: 40%;
    flex: 0 1 auto;
    margin-left: 0;
    margin: 24px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.3);

    .hotelName {
        padding-left: 1.25rem;
        font-family: $text-font;
        font-weight: 700;
    }
}

.img {
    width: 100%;
    height: auto;
}

.btn {
    margin-top: 16px;
    @include blue-btn;
}

.link:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
    .card {
        width: 100%;
        margin: 32px 0 0;
    }
}
