.messages {
    width: 100%;
    margin: 56px 0;
    padding: 40px 0;
}

.messageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 48px;
    padding: 0;
}

.message {
    width: 40%;
    padding: 24px;
    margin: 8px;
    background-color: #fffffff3;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.name {
    margin-bottom: 24px;
}

span {
    font-weight: 700;
}

.messageContent {
    padding: 16px;
    border: 1px solid grey;
}

.deleteBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .messages {
        width: 100%;
    }

    .messageContainer {
        flex-direction: column;
    }

    .message {
        width: 90%;
    }
}
