@import '../../sass/partials/variables';

.messages {
    width: 100%;
    margin: 72px 0 56px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
    border-radius: 8px;
}

.messageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 48px;
    padding: 0;
}

.message {
    width: 40%;
    padding: 24px;
    margin: 8px;
    font-family: $text-font;
    background: rgba(255, 255, 255, 0.383);
    box-shadow: 0 8px 16px 0 rgba(102, 102, 104, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.name {
    margin-bottom: 24px;
}

span {
    font-weight: 700;
    font-family: $text-font;
}

.messageContent {
    padding: 16px;
    border: 1px solid grey;
}

.deleteBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .messages {
        width: 100%;
    }

    .messageContainer {
        flex-direction: column;
    }

    .message {
        width: 90%;
        margin: 16px auto;
    }
}
