@import '../../sass/partials/variables';

.login {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 40%;
    padding: 24px;
    margin: 32px 0;
    background-color: #ededed;
}

.input {
    margin: 32px 0;
}

.label {
    font-family: $text-font;
}

.passwordVisibility {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 8px;
    font-family: $text-font;
}

.showPassword:hover {
    text-decoration: underline;
}

.showPassword:focus {
    padding: 2px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn {
    background-color: $clay;
    padding: 8px 16px;
    border-color: $clay;
    transition: transform 0.5s;
    font-family: $text-font;
    font-size: 1.1rem;
}

.btn:hover {
    transform: scale(1.1);
    background-color: $clay;
    border-color: $clay;
}

.btn:active {
    border-color: $clay;
    background-color: $clay;
}

@media (max-width: 992px) {
    .login {
        margin-top: 56px;
    }

    .form {
        width: 90%;
    }
}
