@import '../../sass/partials/variables';

.container {
    padding: 48px 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60%;
    margin: 32px 0;
}

.label {
    font-family: $text-font;
}

.input {
    margin-top: 16px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn {
    background-color: $blue;
    border-color: $blue;
    font-family: $text-font;
    font-size: 1.1rem;
    transition: transform 0.5s;
    margin-top: 16px;
    box-shadow: $box-shadow-btn;

    &:hover {
        transform: scale(1.05);
        background-color: $blue;
        border-color: $blue;
    }

    &:active {
        background-color: $blue !important;
        border-color: $blue !important;
    }
}

@media (max-width: 992px) {
    .form {
        width: 90%;
    }
}
