@import '../../sass/partials/variables';

.btn {
    transition: transform 0.5s;
    font-family: $text-font;
    font-size: 1.1rem;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

.btn:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    transform: scale(1.1);
}

.btn:active {
    background-color: #dc3545;
    border-color: #dc3545;
}
