@import '../../sass/partials/variables';

.container {
    padding: 40px 0;
    margin: 56px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
    border-radius: 8px;
}

.enquiriesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 48px;
    padding: 0;
}

.enquiries {
    width: 40%;
    margin: 8px 16px 8px 0;
    padding: 24px;
    font-family: $text-font;
    background: rgba(255, 255, 255, 0.383);
    box-shadow: 0 8px 16px 0 rgba(102, 102, 104, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.name {
    margin-bottom: 24px;
}

p {
    margin-bottom: 16px;
}

.deleteBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .enquiriesContainer {
        flex-direction: column;
    }

    .enquiries {
        width: 90%;
        margin: 16px auto;
    }
}
