@import '../../sass/partials/variables';
@import '../../sass/partials/mixins';

.container {
    padding: 40px 0;
    margin: 56px 0;
    width: 100%;
    @include flex-column;
    background-color: $dark-grey;
    border-radius: 8px;
}

.enquiriesContainer {
    @include flex-row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 48px;
    padding: 0;
}

.enquiries {
    width: 40%;
    margin: 8px 16px 8px 0;
    padding: 24px;
    font-family: $text-font;
    background: rgba(255, 255, 255, 0.383);
    box-shadow: 0 8px 16px 0 rgba(102, 102, 104, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.name {
    margin-bottom: 24px;
}

p {
    margin-bottom: 16px;
}

.deleteBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reply {
    margin-left: 8px;
    @include blue-btn;
    transition: none;

    &:hover {
        transform: none;
        background-color: #37647a;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.errorMessage {
    padding: 16px;
    line-height: 2.5;
}

.reload {
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-family: $text-font;
    background-color: $blue;
    border: $blue;
    margin-left: 8px;
    color: $white;
    box-shadow: $box-shadow-btn;
    border-radius: 6px;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 992px) {
    .enquiriesContainer {
        flex-direction: column;
    }

    .enquiries {
        width: 90%;
        margin: 16px auto;
    }
}
